input[type="button"] {
    width: 60px;
    height: 60px;
    font-size: 23px;
}

/* Estilos para o cabeçalho */
#titulo {
    text-align: center;
    background-color: #333;
    color: #ff8;
    padding: 25px;
}

#titulo h1 {
    margin: 0;
}

/* "tela da calculadora" */
div.tabela div {
    border: 1px solid #a0a0a0;
    border-radius: 4px;
}
#display {
    font-size: x-large;
    border: none;
    width: 96%;
    height: 10px;
}
 #display1{
    border: none;
    width: 96%;
    height: 10px;
    display: block;
}
/* Estilos para a calculadora */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.tabela {
    border-collapse: collapse;
    border: 1px solid;
    padding: 30px;
    border-radius: 10px;
}

.tabela td {
    padding: 12px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    text-align: right;
    border: 1px solid #ccc;
}

/* estilo para o footer */
footer {
    background-color: #333;
    color: #ff8;
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}